* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.account {
    background: linear-gradient(45deg, #ee0979, #ff6a00);
    color: white;
    box-shadow: 1px 1px 5px black;
}

.account:hover {
    box-shadow: 2px 2px 10px black;
}

.account-details-header {
    background: linear-gradient(45deg, #ee0979, #ff6a00);
    color: white;
}

.account-balance {
    font-size: 2em;
    margin: 0px;
}

.account-link {
    text-decoration: none;
}

.subtitle {
    display: inline;
}

#create {
    margin-bottom: 15px;
}

.credit-transaction {
    color: green;
}

.debit-transaction {
    color: red;
}

.loan {
    background: linear-gradient(45deg, #ee09cf, #0026ff);
    color: white;
}

.menu-logo {
    width: 100px;
    height: 40px;
}

.welcome {
    background: linear-gradient(45deg, #5573f8cc, #2d0a66);
}

.welcome-logo {
    width: 60%;
}

.index-body {
    background-image: url(../img/mindhub.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.index-container {
    margin-top: 10%;
}

.rounded-5 {
    border-radius: 10px;
}