<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Mindhub Bank</title>
</head>

<body class="index-body">
    <div id="app">
        <div class="toast-container position-absolute p-3 top-0 end-0" id="toastPlacement">
            <div id="danger-toast" data-bs-delay="2000" class="toast align-items-center text-white bg-danger border-0"
                role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ errorMsg }}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>
        <div class="container index-container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex justify-content-center bg-light shadow border-0 rounded-5">
                        <div
                            class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last welcome shadow-sm rounded-5">
                            <div class="text w-100">
                                <img class="welcome-logo" src="img/Mindhub-logo.png">
                                <h2>Welcome to MindHub Bank</h2>
                                <div v-if="showSignUp" class="form-group">
                                    <a v-on:click="showSignUpToogle" href="#" class="btn btn-light my-2"><small>Sign
                                            In</small></a>
                                </div>
                                <template v-if="!showSignUp">
                                    <p>Don't have an account?</p>
                                    <button v-on:click="showSignUpToogle" class="btn btn-light">Sign Up</button>

                                </template>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <template v-if="!showSignUp">
                                <div class="d-flex">
                                    <div class="w-100">
                                        <h3 class="mb-4">Sign In</h3>
                                    </div>
                                </div>
                                <form action="#" class="signin-form" v-on:submit="signIn($event)">
                                    <div class="form-group mb-3">
                                        <label class="label" for="email">Email</label>
                                        <input v-model="email" id="email" type="email" class="form-control"
                                            placeholder="email@mail.com" required>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="label" for="password">Password</label>
                                        <input v-model="password" id="password" type="password" class="form-control"
                                            placeholder="Password" required autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="form-control btn btn-primary px-3">Sign In</button>
                                    </div>
                                </form>
                            </template>
                            <template v-else>
                                <div class="d-flex">
                                    <div class="w-100">
                                        <h3 class="mb-4">Sign Up</h3>
                                    </div>
                                </div>
                                <form action="#" class="signout-form" v-on:submit="signUp($event)">
                                    <div class="form-group mb-3">
                                        <label class="label" for="firstName">First name</label>
                                        <input v-model="firstName" id="firstName" type="text" class="form-control"
                                            placeholder="Juan" required>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="lastName" for="lastName">Last name</label>
                                        <input v-model="lastName" id="lastName" type="text" class="form-control"
                                            placeholder="Martinez" required>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="label" for="remail">Email</label>
                                        <input v-model="email" id="remail" type="remail" class="form-control"
                                            placeholder="email@mail.com" required>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="label" for="rpassword">Password</label>
                                        <input v-model="password" id="rpassword" type="password" class="form-control"
                                            placeholder="Password" required autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="form-control btn btn-primary px-3">Sign Up</button>
                                    </div>
                                </form>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</body>

</html>